button {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;

    background-color: rgb(26, 24, 24);
}

/* mobile*/
@media(max-width: 1024px) {}



/* desktop */

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 82%;
}

#title {
    box-shadow: inset 0 0 100px rgb(11, 20, 20);
    width: 100%;
    margin: 0 auto;
    padding: 20px 0 20px 0;
    text-align: center;
    font-size: 68px;
    color: black;
    background: linear-gradient(90deg, rgb(26, 24, 24) 1%, white 20%, white 45%, red 55%, rgb(26, 24, 24));
}

.gradientText {
    background: linear-gradient(90deg, rgb(200, 0, 0) 1%, rgb(200, 0, 0) 45%, white 48%, white 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    letter-spacing: 10px;
    text-shadow: 0 0 4px rgba(0, 0, 0, .1);
}

.newsContainer {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 20px 0;
    border-radius: 5px;

}

.newspaperAnimation {
    box-shadow: inset 0 0 300px rgb(11, 20, 20);
    background-image: url(/img/prism.png);
    flex-grow: 1;
}

.newspaperWritingAnimation {
    box-shadow: inset 0 0 300px rgb(10, 20, 20);
    background: linear-gradient(rgb(51, 51, 51) 1%, white 10%, white 90%, rgb(38, 45, 52) 100%);
    flex-grow: 1;
}



.newspaper {
    display: block;
    width: 20%;
    margin: 10% auto 10% 5%;
}

.tv {
    position: relative;
    top: 0;
    left: 0;

    width: 100%;
}

.youTub {
    left: 45.5%;
    top: 33%;
    position: absolute;
    display: block;
    width: 18%;
    height: 33%;

}

.tvOff {
    left: 45.5%;
    top: 33%;
    position: absolute;
    display: block;
    width: 18%;
    height: 33%;
    z-index: 1;
}

.switchBt {
    position: absolute;
    left: 42%;
    top: 36%;
    background-color: transparent;
    width: 2.2vw;
    height: 2.2vw;
    border: none;
    cursor: pointer;
}

.switch {
    left: 0;
    top: 0;
    opacity: 1;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

.switc2Bt {
    left: 41.6%;
    top: 56.5%;
    position: absolute;
    display: block;
    width: 3vw;
    height: 3vw;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.switch2 {
    left: 0;
    top: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

.tvPic {
    left: 0;
    top: 0;
    position: relative;
    width: 100%;
}