body {
    margin: 0;
    padding: 0;
    background-color: rgb(26, 24, 24);
}

#container {
    display: flex;
    flex-direction: column;
    background-image: url(./img/prism.png);
    margin: 0 auto;
    width: 82%;
}

#title {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0 20px 0;
    text-align: center;
    font-size: 68px;
    color: black;
    background: linear-gradient(90deg, rgb(26, 24, 24) 1%, white 20%, white 50%, red 70%, rgb(26, 24, 24));
}

.NewsContainer {
    width: 100%;
    height: 400px;
    background: white;

}

.newspaper {
    display: block;
    width: 20%;
    margin: 10% auto 10% 5%;
}

.tv {
    position: relative;
    top: 0;
    left: 0;

    width: 100%;
}

.youTub {
    left: 45.5%;
    top: 33%;
    position: absolute;
    display: block;
    width: 18%;
    height: 33%;

}

.tvOff {
    left: 45.5%;
    top: 33%;
    position: absolute;
    display: block;
    width: 18%;
    height: 33%;
    z-index: 1;
}

.switch {
    left: 42%;
    top: 36%;
    position: absolute;
    display: block;
    width: 2.8%;
    z-index: 1;
    cursor: pointer;
}

.switch2 {
    left: 41.6%;
    top: 56.5%;
    position: absolute;
    display: block;
    width: 3.4%;
    z-index: 1;
    cursor: pointer;
}

.tvPic {
    left: 0;
    top: 0;
    position: relative;
    width: 100%;
}